*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    color: black;
    line-height: 1.15;
    /* border: 10px solid rgb(3, 2, 9); */
}
#wrapper{
    max-width: 1200px;
    margin: auto;
}
nav{
}
.heading{
    text-align: left;
    margin-left: 15px;
}
h3{
    padding-left: 5px;
    color: red;
    border-left: 5px solid red;
}
ul.product{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.product li{
    flex-basis: 33%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
ul.product li:hover{
    opacity: 0.7;
    background-color: rgb(182, 193, 202);
}
ul.product li img{
    width: 100%;
    height: auto;
    padding: 10px 0px;
}
/* ul.product li:hover{
    opacity: 0.7;
} */
ul.product li .product-info a{
    display: block;
    padding: 10px 0px;
}
ul.product li .product-info .product-cat{
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}
ul.product li .product-info .product-name, .product-price{
    font-size: 14px;
}
ul.product li .product-info .product-price .form a{
    display: inline-block;
    padding: 0px 0px;
}
ul.product li .product-info .product-price .form i{
    color: rgb(196, 49, 49)
}
a{
    text-decoration: none;
    color: black;
}